// ===============
// colors palette
// ===============
:root {


	//  Фоновые цвета:
	// =================================================================
	--bg: #010409; // - основной фоновый цвет сайта
	--bg-item: #141921; // - дополнительный фоновый цвет сайта
	--bg-btn: #2cb848; // - фон кнопок.
	--bg-border: #3D444D; // - фоновый  цвет границ
	--bg-input: #39475d; // фоновый цвет полей input

	// Текстовые цвета:
	// =================================================================
	--text: #9198A1; //-основной текстовый цвет сайта
	--text-white: #fff; // дополнительный текстовый цвет сайта
	--text-link: #4493F8; // цвет ссылок
	--text-link-hover: #9bc2f5; // цвет ссылок при наведении
	// =================================================================
}